body {
    font-family: Arial;
    padding: 20px;
}

input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
}

li {
    margin-top: 10px;
}

button {
  margin-left: 10px;
}